{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
  },
  "extends": ["airbnb", "plugin:react/recommended"],
  "plugins": ["react"],
  "rules": {
    "import/no-unresolved": "off",
    "import/extensions": 0,
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "no-shadow": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
    "react/button-has-type": 0,
    "react/destructuring-assignment": 0,
    "react/prop-types": 0,
    "react/no-unused-prop-types": 0,
    "arrow-body-style": 0,
    "object-curly-newline": 0,
    "operator-linebreak": ["error", "before"]
  }
}
