body {
  font: 15px 'Century Gothic', Futura, sans-serif;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.main {
  width: 700px;
  max-width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}

.display {
  background-color: #555;
  height: calc(calc(calc(100vw - 2rem) / 4) * calc(100 / 175));
  max-height: 100px;
  min-height: 70px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  padding: 1rem;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
}

.display.error {
  font-size: 2rem;
}

.button-panel .group {
  background-color: #aaa;
  height: calc(calc(calc(100vw - 2rem) / 4) * calc(100 / 175));
  max-height: 100px;
  min-height: 70px;
}

.button {
  width: 25%;
  color: black;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #aaa;
  height: calc(calc(calc(100vw - 2rem) / 4) * calc(100 / 175));
  max-height: 100%;
  min-height: 70px;
  font-size: 2rem;
}

@media (max-width: calc(700px - 2rem)) {
  .display {
    font-size: calc(1rem + 3vw);
  }

  .display.error {
    font-size: calc(1rem + 1.8vw);
  }

  .button {
    font-size: calc(1rem + 2vw);
  }
}
